/* primay CSS */
body{
    margin-top: 50px;
    margin-bottom: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

.primary-text{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* Banner image section */

.banner-image-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
}

.banner-image-overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #070211 10%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    background-position: center;
}

.banner-image-text {
    text-align: center;
    color: white;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

.banner-image-heading{
    font-size: 72px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 900;
    margin-left: 344px;
    margin-right: 344px;
}

/* Discount section styles */
.discount> h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}
.discount> h4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount> h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount> img{
    text-align: center;
    margin-left: 200px;
    margin-bottom: 120px;
}

/* year-party section styles */

.year-image-container{
    width: 100%;
    height: 111vh;
    background-image: url('../resources/Vectorrr.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    justify-items: center;
    align-items: center;
}

.year-image-overlay{
    width: 80%;
    height: 86.2vh;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.year-image-tile{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
}

.year-image-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button{
    background: none;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.year-image-text{
    padding-top: 80px;
    padding-right: 350px;
    padding-bottom: 126px;
    padding-left: 126px;
}

.image24{
    position: absolute;
    margin-top: -350px;
    margin-left: 500px;
    background: transparent;
}

/* time style section */

.time-container{
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.time-button{
    border-radius: 8px;
    background: #F00;
    color: white;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    margin-top: 10px;
    border: 0;
    
}
.time-text{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

/* best offer section  */

.best-offer-container{
    display: flex;
    align-items: center;

}

.best-offer-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.best-offer-parragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.best-offer-image{
    border-radius: 364px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 15px;
    margin-right: 140px;
}

.new-year-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* Holidays Sale section */
.holiday-container{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.holiday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holiday-headline{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holidays-color{
    color: #F00;
}

.holiday-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
}

.holiday-image{
    position: relative;
    display: inline-block;
}
.img1{
    position: absolute;
    margin-right: 500px;
    right: 80px;
}

.img2{
    position: absolute;
    top: 10px;
    right: 10px;
}
.img3{
    position: relative;
    top: 20px;
    left: 200px;
}
.img4{
    padding: -10px;
    margin-right: 10px;
}

/* portfolio section style */

.protfolio-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.protfolio-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.protfolio-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.protfolio-container{
    width: 80%;
} 

.column{
    display: flex;
    gap: 10px;
    margin-right: 140px;
    margin-left: 0px;
    border-radius: 5px solid black;
}

.photo-hover:hover {
    /* opacity: 0.8; */
    transform: scale(1.3);
    z-index: 2;
}

/* newsletter section styles */

.newsletter-container {
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 210px;
    text-align: center;
}

.newsletter-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.container{
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 40px;
  text-align: center;
  color: white;
}
.container p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 15px;
  font-weight: 300;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: inline-flex; 
}

.tbox,.btn{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
  
}
.email-box:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
}
.btn{
  background: #F00;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 0px 50px 50px 0px;
}

/* footer section */

.footer-section{
    margin-top: 100px;
    width: 1225px;
    height: 500px;
    border-radius: 20px;
    background: #070211;
    justify-content: center;
    align-items: center;
}

.contact-container{
    margin-top: 120px;
    width: 1100px;
    height: 609px;
    border-radius: 20px;
    color: #FFF;
    padding-left: 120px;
    padding-top: 120px;
}
.contact{
    display: flex;
    gap: 400px;
}
.address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.phone{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.website{
    color: #FFF;    
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.h{
    position:  absolute;
    width: 1050px;
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15); #070211;
}

/* social icon styles */

.social-icon{
    text-align: center;
    padding: 10px;
}
.social-icon>img{
    margin-right: 20px;
}

/* copyright section */

.copyright-section{
    display: flex;
    gap: 700px;
}

